{{ define "body" }}
<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <div class="d-flex flex-column flex-column-fluid">
            <div id="kt_app_content" class="app-content flex-column-fluid">
                <div id="kt_app_content_container" class="app-container container-fluid">
                    <div class="row gx-5 gx-xl-10">
                        <div class="col-md-12">
                            <h1 class="ps-2">Together, let's make an</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}