{{ define "header" }}
<div id="kt_app_header" class="app-header " data-kt-sticky="true" data-kt-sticky-activate="{default: true, lg: true}"
    data-kt-sticky-name="app-header-minimize" data-kt-sticky-offset="{default: '200px', lg: '0'}"
    data-kt-sticky-animation="false">

    <div class="align-items-stretch container-xxl d-flex justify-content-between" id="kt_app_header_container">

        <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">
            <a href="?page=index">
                <img alt="Logo" src="assets/media/logos/logo-dark.svg"
                    class="h-20px h-lg-30px app-sidebar-logo-default theme-light-show" />
                <img alt="Logo" src="assets/media/logos/logo-dark.svg"
                    class="h-20px h-lg-30px app-sidebar-logo-default theme-dark-show" />
            </a>
        </div>

        <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1" id="kt_app_header_wrapper">
            {{ template "menu" . }}
            {{ template "navbar" . }}
        </div>
    </div>
</div>
{{ end }}