                        {{ define "navbar" }}

                        <div class="app-navbar flex-shrink-0">

                            <div class="app-navbar-item ms-1 ms-md-4">
                                <a href="/explore-jobs" class='btn {{ if eq .activeMenu "explore-jobs" }} btn-bg-light btn-color-primary {{ end }} btn-custom btn-active-light btn-active-color-primary'>
                                    Explore Jobs
                                </a>
                                <a href="/login" class='btn {{ if eq .activeMenu "login" }} btn-bg-light btn-color-primary {{ end }} btn-custom btn-active-light btn-active-color-primary'>
                                    Login
                                </a>
                                <a href="" class='btn {{ if eq .activeMenu "know-us" }} btn-bg-light btn-color-primary {{ end }} btn-custom btn-active-light btn-active-color-primary'>
                                    Know Us
                                </a>
                            </div>

                        </div>

                        {{ end }}